    {% extends  'layout.njk' %}

    {% block content %}
    <section id="wrapper">
        <img src="https://avatars0.githubusercontent.com/u/28929274?s=200&v=4" alt="logo">
        <h1>RocketSeat</h1>
        <p>"Mais do que uma de educação em tecnologia, somos uma comunidade incrível de programadores em busca do próximo nível."  🚀  </p>


        <h2>Domine a stack</h2>

        <ul style="list-style-type: none;">
            <li>NodeJs</li>
            <li>ReactJS</li>
            <li>React Native</li>
        </ul>
    </section>

    <section id="footer" class="footer">
      
        <a href="http://fb.com/rocketseat" target="_blank" rel="noopener noreferrer">Facebook</a>

        <a href="http://instagram.com/rocketseat_oficial" target="_blank" rel="noopener noreferrer">Instagram</a>

        <a href="https://github.com/rocketseat" target="_blank" rel="noopener noreferrer">Github</a>

        <a href="http://youtube.com/rocketseat" target="_blank" rel="noopener noreferrer">Youtube</a>

    </section>
      
  
    
</body>
</html>

{% endblock %}